html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

h2, p {
  padding-left: 20px;
}

body {
  background: #f4f4f4;
  color: #acacac;
}

.ui-kit-btn {
  border-radius: 6px;
  padding: 12px 20px;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: all 0.1s;
  margin-bottom: 4px;
  &-primary {
    background-color: rgb(104, 177, 191);
    box-shadow: 0px 3px 0px 0px rgba(116, 163, 176, 1);
    border-radius: 15px;
    &:hover {
      background: #8fc9d9;
    }
    &:active {
      background: #7aadba;
      box-shadow: 0px 2px 0px 0px rgba(116, 163, 176, 1);
    }
  }
  &-success {
    background: #9abf7f;
    box-shadow: 0px 3px 0px 0px rgba(135, 168, 111, 1), 0px -1px 0px 0px #9abf7f;
    &:hover {
      background: #a4cc87;
    }
    &:active {
      background: #94b87a;
      box-shadow: 0px 2px 0px 0px rgba(135, 168, 111, 1), 0px -1px 0px 0px #94b87a;
    }

  }
}

input {
  &[type=text],
  &[type=email],
  &[type=number] {
    color: #464646;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.6), inset 0px 2px 0px 0px rgba(0, 0, 0, 0.11);
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    &:focus {
      outline: none;
    }
  }
}

.ui-kit-slider-input {
  position: relative;
  &-track {
    position: absolute;
  }

}

.light {
  font-weight: 200;
}

$ui-kit-toggle-width: 54px;
$ui-kit-toggle-border-radius: 5px;
$ui-kit-toggle-btn-width: 28px;
$ui-kit-toggle-bg: #ededed;
$ui-kit-slider-bg: #ededed;
.ui-kit-toggle {
  input {
    &[type="checkbox"],
    &[type="checkbox"] {
      display: none;
      & + label {
        display: inline-block;
        height: 34px;
        width: $ui-kit-toggle-width;
        margin-left: 28px;
        position: relative;
        &::before, &::after {
          cursor: pointer;
          position: absolute;
          content: '';
          transition: 0.5s all;
        }
        &::before {
          z-index: 3;
          top: -1px;
          width: $ui-kit-toggle-btn-width;
          height: 34px;
          background: #fefefe;
          border-radius: 7px;
          box-shadow: 0 3px 0 0 #dfdfdf;
        }
        &::after {
          z-index: 1;
          top: 5px;
          left: 0;
          width: $ui-kit-toggle-width;
          height: 24px;
          border-radius: 7px;
        }
        .label-helper {
          display: block;
          width: $ui-kit-toggle-width;
          position: relative;
          .fa-check, .fa-close {
            cursor: pointer;
            position: absolute;
            top: 7px;
            font-size: 20px;
            z-index: 2;
          }
          .fa-check {
            color: #718a5f;
            left: 5px;
          }
          .fa-close {
            color: #a95455;
            right: 6px;
          }
        }
      }
      &:not(:checked) {
        & + label {
          &::before {
            left: -9px;
          }
          &::after {
            background: #e97374;
            box-shadow: inset 0 2px 0 0 #c65c5d;
          }
          .label-helper {
            .fa-check {
              opacity: 0;
            }
            .fa-close {
              opacity: 1;
            }
          }
        }
      }
      &:checked {
        & + label {
          &::before {
            left: 32px;
          }
          &::after {
            background: #9abf7f;
            box-shadow: inset 0 2px 0 0 #7f9f68;
          }
          .label-helper {
            .fa-check {
              opacity: 1;
            }
            .fa-close {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}

.ui-kit-slider {
  height: 14px;
  &.noUi-target {
    margin-left: $ui-kit-toggle-width;
    width: 100px;
    box-shadow: none;
    border-radius: $ui-kit-toggle-border-radius;
    .noUi-base {
      border-radius: $ui-kit-toggle-border-radius - 1px;
      .noUi-origin {
        border-top-right-radius: $ui-kit-toggle-border-radius - 1px;
        border-bottom-right-radius: $ui-kit-toggle-border-radius - 1px;
        background: $ui-kit-slider-bg;
        box-shadow: none;
        .noUi-handle {
          cursor: pointer;
          top: -7px;
          left: -12px;
          width: 18px;
          height: 25px;
          border-radius: $ui-kit-toggle-border-radius;
          background: #ffffff;
          border: none;
          box-shadow: 0 2px 0 0 #dfdfdf;
          &::before, &::after {
            content: none;
          }
        }
      }
    }
  }
  &.one-control.noUi-target {
    .noUi-base {
      background: #9abf7f;
    }
  }
  &.two-control.noUi-target {
    .noUi-base {
      background: $ui-kit-toggle-bg;
      .noUi-origin {
        background: #80b1be;
        &.noUi-background {
          background: $ui-kit-toggle-bg;
        }
      }
    }
  }
}

.ui-kit-checkbox {
  input {
    &[type="checkbox"] {
      display: none;
      & + label {
        margin-left: 20px;
        display: inline-block;
        width: 34px;
        height: 34px;
        position: relative;
        cursor: pointer;
        &::before, &::after {
          cursor: pointer;
          position: absolute;
        }
        &::before {
          z-index: 1;
          font: normal normal normal 14px/1 FontAwesome;
          content: '\f00c';
          padding: 3px;
          color: white;
          top: 7px;
          left: 7px;
          background: #9abf7f;
          border-radius: 50%;
          transition: all 0.25s;
        }
        &::after {
          z-index: 0;
          content: '';
          width: 34px;
          height: 34px;
          background: #fefefe;
          border-radius: 7px;
          box-shadow: 0 3px 0 0 #dfdfdf;
        }
      }
      &:not(:checked) {
        & + label {
          &::before {
            opacity: 0;
          }
        }
      }
      &:checked {
        & + label {
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }
}

.ui-kit-radio {
  input {
    &[type="radio"] {
      display: none;
      & + label {
        margin-left: 20px;
        display: inline-block;
        width: 34px;
        height: 34px;
        position: relative;
        cursor: pointer;
        &::before, &::after {
          cursor: pointer;
          position: absolute;
        }
        &::before {
          z-index: 1;
          content: '';
          top: 7px;
          left: 7px;
          width: 20px;
          height: 20px;
          background: #9abf7f;
          border-radius: 50%;
          transition: all 0.25s;
        }
        &::after {
          z-index: 0;
          content: '';
          width: 34px;
          height: 34px;
          background: #fefefe;
          border-radius: 50%;
          box-shadow: 0 3px 0 0 #dfdfdf;
        }
      }
      &:not(:checked) {
        & + label {
          &::before {
            opacity: 0;
          }
        }
      }
      &:checked {
        & + label {
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }
}